src/main/xsd/sms-preview-v4.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" targetNamespace="http://sms.openmarket.com/v4/preview" xmlns:tns="http://sms.openmarket.com/v4/preview" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="preview">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="destination" type="tns:destination" minOccurs="1" maxOccurs="1"/>
        <xs:element name="mobileOperator" type="tns:mobileOperator" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="mobileOperators">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="mobileOperator" type="tns:mobileOperator" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
   
  <xs:complexType name="destination">
    <xs:attribute name="phoneNumber" type="xs:string" use="required"/>
    <xs:attribute name="countryCode" type="xs:string" use="required"/>
    <xs:attribute name="alpha2Code" type="xs:string" use="required"/>
    <xs:attribute name="wireless" type="xs:boolean" use="optional"/>
  </xs:complexType>
  
  <xs:complexType name="mobileOperator">
    <xs:attribute name="mobileOperatorId" type="xs:int" use="required"/>
    <xs:attribute name="mobileOperatorName" type="xs:string" use="optional"/>
    <xs:attribute name="textLength" type="xs:int" use="optional"/>
    <xs:attribute name="binaryLength" type="xs:int" use="optional"/>
    <xs:attribute name="unicodeLength" type="xs:int" use="optional"/>
    <xs:attribute name="wapPush" type="xs:boolean" use="optional"/>
  </xs:complexType>
   
  <xs:element name="error">
    <xs:complexType>
      <xs:attribute name="code" type="xs:string" use="required"/>
      <xs:attribute name="description" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>

</xs:schema>